[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-vitae"]
	path = themes/hugo-vitae
	url = git://github.com:zekzekus/hugo-vitae
[submodule "public"]
	path = public
	url = git@github.com:zekzekus/zekzekus.github.com
	branch = master
