[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-vitae"]
	path = themes/hugo-vitae
	url = https://github.com/zekzekus/hugo-vitae
